* {
  bg0     : #181b20;
  bg1     : #1f2329;
  bg2     : #282c34;
  fg0     : #a0a8b7;
  fg1     : #535965;
  red     : #e55561;
  green   : #8ebd6b;
  yellow  : #e2b86b;
  blue    : #4fa6ed;
  magenta : #bf68d9;
  cyan    : #48b0bd;

  accent: @fg1;
  urgent: @yellow;
}
