@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* Encode button */
#characterencoding-button {
  list-style-image: url("icons/accessories-character-map-symbolic.svg") !important;
}
/* Screenshot button */
#screenshot-button {
  list-style-image: url("icons/accessories-screenshot-symbolic.svg") !important;
}
/* Addons button */
#add-ons-button,
#addons-notification-icon,
.install-icon {
  list-style-image: url("icons/application-x-addon-symbolic.svg") !important;
}
/* Developer button */
#developer-button {
  list-style-image: url("icons/applications-engineering-symbolic.svg") !important;
}
/* Sound icons */
.tab-icon-overlay[soundplaying] {
  list-style-image: url("icons/audio-playing-symbolic.svg") !important;
}
.autoplay-media-icon {
  list-style-image: url("icons/audio-playing-symbolic.svg") !important;
}
.tab-icon-overlay[muted] {
  list-style-image: url("icons/audio-muted-symbolic.svg") !important;
}
.autoplay-media-icon.blocked-permission-icon {
  list-style-image: url("icons/audio-muted-symbolic.svg") !important;
}
/*Disabled by default, because overlay GTK style*/
/* Menu checkbox */
/*menuitem[type="checkbox"] {
  list-style-image: url("icons/checkbox-symbolic.svg") !important;
}
menuitem[type="checkbox"][checked="true"] {
  list-style-image: url("icons/checkbox-checked-symbolic.svg") !important;
}
menuitem[type="checkbox"][disabled="true"] .menu-iconic-icon {
  opacity: 0.5;
}*/
/* Open button */
#open-file-button {
  list-style-image: url("icons/document-open-symbolic.svg") !important;
}
/* Save button */
#save-page-button {
  list-style-image: url("icons/media-floppy-symbolic.svg") !important;
}
/* Copy button */
#copy-button,
#appMenu-copy-button {
  list-style-image: url("icons/edit-copy-symbolic.svg") !important;
}
/* Cut button */
#cut-button,
#appMenu-cut-button {
  list-style-image: url("icons/edit-cut-symbolic.svg") !important;
}
#paste-button {
  list-style-image: url("icons/edit-paste-symbolic.svg") !important;
}
/* Url Bar icons */
#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] #identity-icon {
  list-style-image: url("icons/edit-find-symbolic.svg") !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box > #tracking-protection-icon {
  list-style-image: url("icons/security-high-symbolic.svg") !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box[hasException] > #tracking-protection-icon {
  list-style-image: url("icons/security-low-symbolic.svg") !important;
}
#urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box:not([hasException])[active] > #tracking-protection-icon {
  list-style-image: url()"icons/security-high-symbolic.svg") !important;
}
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
  list-style-image: url("icons/channel-secure-symbolic.svg") !important;
}
#identity-popup[connection^="secure"] .identity-popup-security-connection {
  list-style-image: url("icons/channel-secure-symbolic.svg") !important;
}
#identity-box[pageproxystate="valid"].notSecure #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon,
#identity-box[pageproxystate="valid"].httpsOnlyErrorPage #identity-icon {
  list-style-image: url("icons/channel-insecure-symbolic.svg") !important;
}
.identity-popup-security-connection {
  list-style-image: url("icons/channel-insecure-symbolic.svg") !important;
}
#permissions-granted-icon {
  list-style-image: url("icons/multimedia-equalizer-symbolic.svg") !important;
}
.popup-notification-icon[popupid="web-notifications"], .desktop-notification-icon {
  list-style-image: url("icons/message-symbolic.svg") !important;
}
#reader-mode-button > .urlbar-icon {
  list-style-image: url("icons/reader-mode-symbolic.svg") !important;
}
/* Search entries */
#urlbar:not(.searchButton) > #urlbar-input-container > #identity-box[pageproxystate="invalid"] > #identity-icon,
.searchbar-search-icon,
.textbox-search-sign {
  list-style-image: url("icons/edit-find-symbolic.svg") !important;
  opacity: 0.7 !important;
}
.textbox-search-sign {
  margin: 2px 0;
  max-height: 16px !important;
  width: 16px !important;
}
:host(:not([searchbutton])) > .textbox-search-sign {
  list-style-image: url("icons/edit-find-symbolic.svg") !important;
  margin-inline-end: 5px;
}
/* Find button */
#find-button {
  list-style-image: url("icons/edit-find-symbolic.svg") !important;
}
/* Library button */
#library-button {
  list-style-image: url("icons/ephy-bookmarks-symbolic.svg") !important;
}
/* Private browsing button */
#privatebrowsing-button {
  list-style-image: url("icons/view-private-symbolic.svg") !important;
}
/* Downlaod */
#downloads-button,
#downloads-indicator-icon {
  list-style-image: url("icons/folder-download-symbolic.svg") !important;
}
/* Folder icon */
.bookmark-item[container],
.downloadIconShow > .button-box > .button-icon {
  list-style-image: url("icons/folder-symbolic.svg") !important;
}
/* Tree views */
treechildren::-moz-tree-twisty,
.item.client .item-twisty-container {
  list-style-image: url("icons/pan-down-symbolic.svg") !important;
  width: 16px !important;
  height: 16px !important;
}
.item.client .item-twisty-container {
  background-image: url("icons/pan-down-symbolic.svg") !important;
}
treechildren::-moz-tree-twisty(open) {
  list-style-image: url("icons/pan-end-symbolic.svg") !important;
}
.item.client.closed .item-twisty-container {
  background-image: url("icons/pan-end-symbolic.svg") !important;
}

treechildren::-moz-tree-image(title, container),
treechildren::-moz-tree-image(title, open) {
  list-style-image: url("icons/folder-symbolic.svg") !important;
}
treechildren::-moz-tree-image(title, query, dayContainer),
treechildren::-moz-tree-image(query, OrganizerQuery_history____v) {
  list-style-image: url("icons/preferences-system-time-symbolic.svg") !important;
}
/* All tabs button */
#alltabs-button {
  list-style-image: url("icons/pan-down-symbolic.svg") !important;
}
/* Overflow button */
#nav-bar-overflow-button {
  list-style-image: url("icons/pan-down-symbolic.svg") !important;
}
/* Popovers subview menu arrow */
#identity-popup-mainView .subviewbutton-nav::after,
.widget-overflow-list .subviewbutton-nav::after,
.PanelUI-subView .subviewbutton-nav::after {
  content: "" !important;
  background: url("icons/pan-end-symbolic.svg");
  background-size: contain;
  height: 16px;
  width: 16px;
  margin-top: -2px !important;
  fill-opacity: 1 !important;
}
.protections-popup-category::after {
  content: url("icons/pan-start-symbolic.svg") !important;
}
.identity-popup-content-blocking-category::after {
  content: url("icons/pan-start-symbolic.svg") !important;
}
#identity-popup-security-expander .button-icon {
  list-style-image: url("icons/pan-start-symbolic.svg") !important;
}

/* Popovers subview back button */
.subviewbutton-back {
  list-style-image: url("icons/pan-start-symbolic.svg") !important;
}
/* Arrow up buttons */
.expander-up > .button-box {
  -moz-appearance: none !important;
  list-style-image: url("icons/pan-up-symbolic.svg") !important;
  width: 16px !important;
  height: 16px !important;
}
/* Sub menu arrow */
.menu-right {
  -moz-appearance: none !important;
  list-style-image: url("icons/pan-end-symbolic.svg") !important;
  width: 16px !important;
  height: 16px !important;
}
menu[disabled] > .menu-right {
  opacity: 0.3;
}
/* Scroll icons */
#scrollbutton-up {
  list-style-image: var(--scrollbutton-icon-name) !important;
}
#scrollbutton-down {
  list-style-image: var(--scrollbutton-icon-name) !important;
}
arrowscrollbox {
  --scrollbutton-icon-name: url("icons/pan-down-symbolic.svg");
}
arrowscrollbox[orient="horizontal"] {
  --scrollbutton-icon-name: url("icons/pan-start-symbolic.svg");
}
/* Arrow down buttons */
.expander-down > .button-box,
#sidebar-switcher-arrow,
#viewButton .button-menu-dropmarker {
  -moz-appearance: none !important;
  list-style-image: url("icons/pan-down-symbolic.svg") !important;
  width: 16px !important;
  height: 16px !important;
}
.menulist-label-box:after {
  content: url("icons/pan-down-symbolic.svg") !important;
}
/* Forget button */
#panic-button {
  list-style-image: url("icons/forget-symbolic.svg") !important;
}
/* Findbar */
.findbar-find-previous {
  list-style-image: url("icons/go-up-symbolic.svg") !important;
}
.findbar-find-next {
  list-style-image: url("icons/go-down-symbolic.svg") !important;
}
/* Back button */
#nav-bar #back-button,
#context-back {
  list-style-image: url("icons/go-previous-symbolic.svg") !important;
}
/* Forward button */
#nav-bar #forward-button,
#context-forward,
#urlbar-go-button,
.search-go-button {
  list-style-image: url("icons/go-next-symbolic.svg") !important;
}
/* Info */
.panel-info-button > image,
#identity-icon {
  list-style-image: url("icons/info-symbolic.svg") !important;
}
.tabbrowser-tab[image="chrome://global/skin/icons/info.svg"]:not([busy]):not([progress]) .tab-icon-stack::before {
  content: "";
  height: 16px;
  width: 16px;
  background-image: url("icons/info-symbolic.svg") !important;
}
/* New tab button */
#new-tab-button {
  list-style-image: url("icons/tab-new-symbolic.svg") !important;
}
#tabs-newtab-button,
#TabsToolbar #new-tab-button {
  list-style-image: url("icons/list-add-symbolic.svg") !important;
}
/* Email link button */
#email-link-button {
  list-style-image: url("icons/mail-unread-symbolic.svg") !important;
}
/* Bookmarks menu button */
#bookmarks-menu-button,
#sidebar-box[sidebarcommand="viewBookmarksSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon,
.urlbarView-row[source="bookmarks"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon,
#urlbar-engine-one-off-item-bookmarks {
  list-style-image: url("icons/starred-symbolic.svg") !important;
}
#context-bookmarkpage[starred="true"],
#star-button[starred] {
  list-style-image: url("icons/starred-symbolic.svg") !important;
}
#context-bookmarkpage,
#star-button {
  list-style-image: url("icons/non-starred-symbolic.svg") !important;
}
/* Menu button */
#PanelUI-menu-button {
  list-style-image: url("icons/open-menu-symbolic.svg") !important;
}
/* Pocket button */
#save-to-pocket-button {
  list-style-image: url("icons/pocket-symbolic.svg") !important;
}
/* History button */
#history-panelmenu,
#sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon,
.urlbarView-row[source="history"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon,
#urlbar-engine-one-off-item-history {
  list-style-image: url("icons/preferences-system-time-symbolic.svg") !important;
}
/* Print button */
#print-button {
  list-style-image: url("icons/printer-symbolic.svg") !important;
}
/* Stop */
#stop-button,
.downloadIconCancel > .button-box > .button-icon,
#context-stop {
  list-style-image: url("icons/stop.svg") !important;
}
/* Extension button */
#unified-extensions-button {
  list-style-image: url("icons/extension.svg") !important;
}
.unified-extensions-item-menu-button.subviewbutton {
  list-style-image: url("icons/settings-symbolic.svg") !important;
}
/*Disabled by default, because overlay GTK style*/
/* Menu radio */
/*menuitem[type="radio"] {
list-style-image: url("icons/radio-symbolic.svg") !important;
}
menuitem[type="radio"][checked="true"] {
list-style-image: url("icons/radio-checked-symbolic.svg") !important;
}
menuitem[type="radio"][disabled="true"] .menu-iconic-icon {
opacity: 0.5;
}*/
/* Search setting button */
.search-setting-button > .button-box > .button-icon {
  list-style-image: url("icons/settings-symbolic.svg") !important;
}
/* Tabs sync */
#sync-button,
#sidebar-box[sidebarcommand="viewTabsSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon,
.urlbarView-row[source="tabs"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon,
#urlbar-engine-one-off-item-tabs {
  list-style-image: url("icons/tab-sync-symbolic.svg") !important;
}
/* Search bar actions button */
.urlbarView-row[source="actions"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon,
#urlbar-engine-one-off-item-actions {
  list-style-image: url("icons/quickactions.svg") !important;
}
/* User button */
#fxa-toolbar-menu-button {
  list-style-image: url("icons/user-available-symbolic.svg") !important;
}
:root {
  --avatar-image-url: url("icons/user-available-symbolic.svg") !important;
}
:root[fxastatus="not_configured"] {
  --avatar-image-url: url("icons/user-available-symbolic.svg") !important;
}
/* Home button */
#home-button {
  list-style-image: url("icons/user-home-symbolic.svg") !important;
}
/* Fullscreen button */
#fullscreen-button,
#appMenu-fullscreen-button2 {
  list-style-image: url("icons/view-fullscreen-symbolic.svg") !important;
}
/* Sidebar button */
#sidebar-button:-moz-locale-dir(ltr):not([positionend])  .toolbarbutton-icon, #sidebar-button:-moz-locale-dir(rtl)[positionend]  .toolbarbutton-icon {
  list-style-image: url("icons/view-left-pane-symbolic.svg") !important;
}
/* Sidebar right button */
#sidebar-button .toolbarbutton-icon {
  list-style-image: url("icons/view-right-pane-symbolic.svg");
}
/* Reload */
#reload-button,
.downloadIconRetry > .button-box > .button-icon,
#context-reload {
  list-style-image: url("icons/view-refresh-symbolic.svg") !important;
}
/*Disabled by default, because overlay GTK style*/
/* Window buttons */
/*:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon {
list-style-image: url("icons/window-close-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon {
list-style-image: url("icons/window-maximize-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon {
list-style-image: url("icons/window-restore-symbolic.svg") !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon {
list-style-image: url("icons/window-minimize-symbolic.svg") !important;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
list-style-image: url("icons/view-restore-symbolic.svg") !important;
}*/
/* New window button */
#new-window-button {
  list-style-image: url("icons/window-new-symbolic.svg") !important;
}
/* Tab close button */
.close-icon {
  appearance: none;
  -moz-context-properties: fill, fill-opacity;
  list-style-image: url("icons/window-close-symbolic.svg") !important;
  border-radius: 4px;
  color: inherit !important;
  fill: currentColor;
  padding: 2px;
  width: 20px;
  height: auto;
}
.tab-close-button {
  margin-inline-end: calc(var(--inline-tab-padding) / -2);
  width: 16px !important;
  height: 16px !important;
  padding: 0px !important;
  border-radius: var(--tab-border-radius);
}
/* Close button in all tabs menu */
.all-tabs-close-button {
  list-style-image: url("icons/close-12.svg") !important;
}
/* Zoom out button */
#zoom-out-button,
#appMenu-zoomReduce-button2 {
  list-style-image: url("icons/zoom-out-symbolic.svg") !important;
}
/* Zoom in button */
#zoom-in-button,
#appMenu-zoomEnlarge-button2 {
  list-style-image: url("icons/zoom-in-symbolic.svg") !important;
}
#import-button {
  list-style-image: url("icons/document-import-symbolic.svg") !important;
}
/* View buttons */
#viewGroup > radio {
  list-style-image: url("icons/pageInfo.png") !important;
  appearance: none;
  min-width: 4.5em;
  margin: 0;
  padding: 3px;
  color: FieldText;
}
/* Toolbar preferences button */
#preferences-button {
  list-style-image: url("icons/settings-symbolic.svg") !important;
}
/* Toolbar passwords button */
#logins-button {
  list-style-image: url("icons/passwords.svg") !important;
}
/* Toolbar bookmarks */
#bookmarks-toolbar-button, #bookmarks-toolbar-placeholder {
  list-style-image: url("icons/toolbar-bookmarks-symbolic.svg") !important;
}
/* Toolbar picture-in-picture button */
#picture-in-picture-button[pipactive] > .urlbar-icon {
  list-style-image: url("icons/picture-in-picture-closed.svg") !important;
}
#picture-in-picture-button > .urlbar-icon {
  list-style-image: url("icons/picture-in-picture-open.svg") !important;
}
#firefox-view-button {
  list-style-image: url("icons/firefox-view.svg") !important;
}
/* Microphone permission status icon */
.microphone-icon {
  list-style-image: url("icons/microphone.svg") !important;
}
.microphone-icon.blocked-permission-icon {
  list-style-image: url("icons/microphone-blocked.svg") !important;
}
/* Persistent storage icon inside permission popup */
.persistent-storage-icon {
  list-style-image: url("icons/persistent-storage.svg") !important;
}
/* Tab spinner */
.tab-throbber::before {
  animation: spinner 1s linear infinite !important;
  background-image: url("icons/process-working-symbolic.svg") !important;
  width: 16px !important;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Fix blurred icon on fullscreen button */
#appMenu-fullscreen-button2 > .toolbarbutton-icon {
  padding: unset !important;
  background-color: unset !important;
}
#appMenu-fullscreen-button2:not([disabled]):hover > .toolbarbutton-icon {
  background-color: unset !important;
}
/* Hack icons color */
.textbox-search-sign,
.menu-right {
  fill: #7f7f7f !important;
  -moz-context-properties: fill, fill-opacity;
}
