@import url("./colorschemes/adwaita-dark.css");

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    transition: 150ms;
}

#waybar {
    font-family: "sans-serif";
    font-weight: 600;
    font-size: 12px;
    background: @bg-alpha;
    color: @fg;
}

.modules-right.horizontal {
    margin-right: 4px;
}

#tray {
    margin: 2px;
}

#tray > widget {
    border-radius: 1rem;
}

#tray > widget > image {
    padding: 0 0.5rem;
}

label.module {
    padding: 0 10px;
    margin: 2px 0;
    border-radius: 1rem;
}

#network,
#pulseaudio {
    padding: 0 12px 0 8px;
}

label.module:hover,
#tray > widget:hover {
    background: @bg-light;
}

#tags,
#workspaces {
    margin: 2px;
    padding: 0 4px;
    border-radius: 1rem;
    background: none;
}

#tags button,
#workspaces button {
    font-size: 0;
    min-width: 6px;
    margin: 0.45rem 4px;
    border-radius: 1rem;
}

#tags button,
#workspaces button.empty {
    background: @fg-dark;
}

#tags button.focused,
#tags button.occupied,
#workspaces button,
#workspaces button.active {
    background: @fg;
}

#tags button.focused,
#workspaces button.active {
    min-width: 1.75rem;
    margin: 0.4rem 0.3rem;
}

#tags button.urgent,
#workspaces button.urgent {
    background: @urgent;
}
