@import url("./colorschemes/gruvbox-material-dark.css");

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    transition: 150ms;
}

#waybar {
    font-family: "Iosevka Nerd Font";
    font-size: 12px;
    background: @bg-alpha;
    color: @fg;
}

#tray {
    margin: 2px;
}

#tray > widget {
    border-radius: 1rem;
}

#tray > widget > image {
    padding: 0 0.5rem;
}

label.module {
    padding: 0 0.5rem;
    margin: 2px;
    border-radius: 1rem;
}

#network,
#pulseaudio {
    padding-right: 0.7rem;
}

label.module:hover,
#tray > widget:hover,
#tags button:hover,
#workspaces button:hover {
    background: @bg-light;
}

#tags button,
#workspaces button {
    font-size: 0;
    min-width: 0.4rem;
    margin: 0.5rem 0.4rem;
    border-radius: 1rem;
}

#tags button,
#workspaces button.empty {
    background: @bg-light;
}

#tags button.focused,
#tags button.occupied,
#workspaces button,
#workspaces button.active {
    background: @fg;
}

#tags button.focused,
#workspaces button.active {
    min-width: 1.25rem;
}

#tags button.urgent,
#workspaces button.urgent {
    background: @urgent;
}
