configuration {
  modes: "drun";
  drun-display-format: "{name}";
  disable-history: true;
  cycle: false;
  hover-select: true;
  kb-page-prev: "Page_Up,Alt+u,ScrollUp";
  kb-page-next: "Page_Down,Alt+d,ScrollDown";
  ml-row-up: "";
  ml-row-down: "";
  me-select-entry: "";
  me-accept-entry: "MousePrimary";
}

@theme "/home/newman/.config/rofi/themes/adwaita.rasi"
