@import './colors.rasi'

* {
    font: "sans-serif 11";
    background-color: transparent;
    text-color: @on-surface;
    margin: 0;
    padding: 0;
    spacing: 0;
}

element-icon,
element-text,
scrollbar {
    cursor: pointer;
}

window {
    location: north;
    y-offset: 1em;
    width: 20em;
}

mainbox {
    background-color: @surface-container-high;
    border: 1px solid;
    border-color: @outline-variant;
    border-radius: 16px;
    padding: 0.5em;
}

inputbar {
    padding: 0.5em 0.75em;
    spacing: 0.5em;
    border: 2px solid;
    border-color: @primary;
    border-radius: 8;
    background-color: @surface-container;
    children: [icon-search, entry, prompt];
}

prompt {
    text-color: @outline;
}

icon-search {
    expand: false;
    filename: "search";
    vertical-align: 0.5;
}

message, error-message {
    padding: 0.5em 0.75em;
    background-color: @surface-container-high;
    text-color: @outline;
    border-radius: 16px;
    border: 1px solid;
    border-color: @outline-variant;
}

listview {
    lines: 5;
    fixed-height: false;
    dynamic: true;
    margin: 0.5em 0 0 0;
    scrollbar: true;
    scrollbar-width: 2px;
    spacing: 8px;
}

scrollbar {
    background-color: @surface-container;
    border-radius: 50%;
    handle-color: @primary;
    handle-rounded-corners: true;
}

element {
    orientation: horizontal;
    spacing: 0.5em;
    padding: 0.5em 0.75em;
    border-radius: 8px;
    height: 5em;
}

element normal urgent {
    text-color: @primary;
}

element normal active {
    text-color: @on-surface-variant;
}

element selected {
    background-color: @surface-bright;
}

element selected urgent {
    background-color: @primary;
}

element-text {
    text-color: inherit;
    highlight: none;
    vertical-align: 0.5;
}

element-text span {
    text-color: red;
}

element-icon {
    size: 1em;
}

// vi:ft=rasi:commentstring=//\ %s
