/* use the same background color as toolbar */
#sidebar-box {
    background: var(--toolbar-bgcolor) !important;
}

.sidebar-panel {
    background: none !important;
}

/* reduce splitter width */
#sidebar-splitter {
    background: var(--chrome-content-separator-color) !important;
    width: 1px !important;
}

/* remove borders */
#sidebar-header,
#sidebar-splitter {
    border: none !important;
}
