:root {
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
    --tab-min-height: 28px !important;
}
.tab-label-container {
    height: initial !important;
}
.tabbrowser-tab {
    padding: 0 !important;
}

.tab-background[selected] {
    background: var(--toolbar-bgcolor) !important;
}

.tab-background[selected]:not([multiselected="true"]) {
    outline: none !important;
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}
