:root {
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
    --tab-min-height: 22px !important;
}
.tab-label-container {
    height: initial !important;
}
.tabbrowser-tab {
    padding: 0 !important;
}

.tab-background[selected] {
    background: var(--toolbar-bgcolor) !important;
}

.tab-background[selected]:not([multiselected="true"]) {
    outline: none !important;
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 0 !important;
}
