snippet h1 "Level 1 Heading" bA
    # ${0}

snippet h2 "Level 2 Heading" bA
    ## ${0}

snippet h3 "Level 3 Heading" bA
    ### ${0}

snippet h4 "Level 4 Heading" bA
    #### ${0}

snippet h5 "Level 5 Heading" bA
    ##### ${0}

snippet h6 "Level 6 Heading" bA
    ##### ${0}

snippet a
    [${1:text}](https://${2:address})

snippet img
    ![${1:alt}](${2:src})

snippet ti
    - [ ] ${0}

snippet cb
    \`\`\`${1}
    ${0}
    \`\`\`

# vim:ft=snippets:foldmethod=manual
