[Desktop Entry]
Type=Application
Name=nsxiv (rifle)
GenericName=Image Viewer
Exec=nsxiv-rifle %F
Categories=Graphics;Utility;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-tga;image/x-xpixmap;image/webp;image/heic;image/svg+xml;application/postscript;image/jp2;image/jxl;image/avif;image/heif;
Icon=image-viewer
