[Desktop Entry]
Type=Application
Name=Shutdown
Comment=Shut down the system
Exec=systemctl poweroff -i
Terminal=false
Categories=System;Utility;
Icon=system-shutdown
