/* HIDE ELEMENTS */

#alltabs-button,
.private-browsing-indicator,
#private-browsing-indicator-with-label,
.tab-close-button,
#urlbar:not([focused]) #tracking-protection-icon-container, 
#urlbar:not([focused]) #identity-box,
#urlbar:not([focused]) #star-button-box:not([open]) {
    display: none !important;
}

/* TABS */

/* compact tabs */
:root {
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
}
:root[uidensity="compact"] {
    --tab-min-height: 20px !important;
    --tab-border-radius: 0 !important;
    --tab-block-margin: 0 !important;
}
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
    height: initial !important; 
}
#tabbrowser-arrowscrollbox,
#tabbrowser-tabs {
    min-height: 0 !important;
}
.tabbrowser-tab {
    padding: 0 !important;
}

/* hide tab bar with one tab */
#tabbrowser-tabs tab:only-of-type {
    display: none !important;
    height: 0 !important;
}

/* tabs below */
#titlebar {
    -moz-box-ordinal-group: 2;
}

/* expand tabs */
.tabbrowser-tab:not([style^="max-width"]):not([pinned]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]) {
    max-width: 100% !important;
}
.tabbrowser-tab:not([style^="max-width"]):not([pinned]):not([fadein]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]):not([fadein]) {
    max-width: .1px !important;
}

/* center tab title */
.tab-label {
    width: 100% !important;
    text-align: center !important;
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
.tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

/* URLBAR */

/* center urlbar text when not focused */
#urlbar:not([focused]) #urlbar-input {
    text-align: center !important;
}

/* make background transparent when not focused */
#urlbar:not([focused]) #urlbar-background {
    background: transparent !important;
    border: none !important;
}

/* SIDEBAR */

/* remove borders */
#sidebar-header,
#sidebar-splitter {
    border: none !important;
}
